$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px})  {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

// h1, .h1 { font-size: 2em; line-height: 1em; @include phone{font-size: 1.5em; line-height: 1.65em;}}
// h2, .h2 { font-size: 1.5em; line-height: 1em; @include phone{font-size: 1.17em; line-height: 1.287em;}}
// h3, .h3 { font-size: 1.17em; line-height: 1.287em; @include phone{font-size: 1.12em; line-height: 1.231em;}}
// h4, .h4 { font-size: 1.12em; line-height: 1.231em; @include phone{font-size: .83em; line-height: .913em;}}
// h5, .h5 { font-size: .83em; line-height: .913em;}
// h6, .h6 { font-size: .75em; line-height: .825em;}
h1, .h1 { font-size: 2rem; line-height: 2.4rem; @include phone{font-size: 1.75rem; line-height: 2.1rem;}}
h2, .h2 { font-size: 1.75rem; line-height: 2.1rem; @include phone{font-size: 1.5rem; line-height: 1.8rem;}}
h3, .h3 { font-size: 1.5rem; line-height: 1.8rem; @include phone{font-size: 1rem; line-height: 1.2rem;}}
h4, .h4 { font-size: 1rem; line-height: 1.2rem;}
h5, .h5 { font-size: .88rem; line-height: 1rem;}
h6, .h6 { font-size: .75rem; line-height: .9rem;}

.font__large {
	// font-size: 4rem;
	// font-weight: 500;
	// @include phone {
	// 	font-size: 2rem;
	// 	font-weight: 400;
	// }
  font-size: 10vw;
  line-height: 12vw;
  font-weight: 500;
}
.font__middle {
	font-size: 2rem;
	font-weight: 400;
	@include phone {
		font-size: 1rem;
		font-weight: 300;
	}
}
.font_small {
	font-size: 1rem;
	font-weight: 300;
}


p {
	@extend h4;
}

.font__white {
	color: #FFF;
}
a {
	text-decoration:none;
}
