// @import "compass/layout";
// @import "compass/layout/grid-background";


/* 12-column responsive grid */

.row {
    @extend .cf;
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
    display: block;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }


.header {
  height: 92px;
}

.content {
  width: 100%;
}

.viewPage {
  margin-bottom: 60px;
}

.content-groups {
  margin-bottom: 20px;
}

.footer {
  height: 90px;
}

.timeline {
  background-color: #9E9E9E;
  padding: 10px;
}

.vertical-align-middle-parent {
  position: relative;
}
.vertical-align-middle-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
// .horizontal-align-middle-parent {
//   left: 50%;
//   transform: translateX(-50%);
// }

.horizontal-align-middle-parent {
  display: table;
}
.horizontal-align-middle-child {
  display: table-cell; vertical-align: middle;
}

.flexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}


// clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
// .cf {
//     *zoom: 1;
// }
