/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, p, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../../src/sass/_base.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 32, ../../src/sass/_base.scss */
h1, .h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (max-width: 767px) {
  /* line 32, ../../src/sass/_base.scss */
  h1, .h1 {
    font-size: 1.75rem;
    line-height: 2.1rem;
  }
}

/* line 33, ../../src/sass/_base.scss */
h2, .h2 {
  font-size: 1.75rem;
  line-height: 2.1rem;
}
@media (max-width: 767px) {
  /* line 33, ../../src/sass/_base.scss */
  h2, .h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

/* line 34, ../../src/sass/_base.scss */
h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
@media (max-width: 767px) {
  /* line 34, ../../src/sass/_base.scss */
  h3, .h3 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

/* line 35, ../../src/sass/_base.scss */
h4, p, .h4 {
  font-size: 1rem;
  line-height: 1.2rem;
}

/* line 36, ../../src/sass/_base.scss */
h5, .h5 {
  font-size: .88rem;
  line-height: 1rem;
}

/* line 37, ../../src/sass/_base.scss */
h6, .h6 {
  font-size: .75rem;
  line-height: .9rem;
}

/* line 39, ../../src/sass/_base.scss */
.font__large {
  font-size: 4rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  /* line 39, ../../src/sass/_base.scss */
  .font__large {
    font-size: 2rem;
    font-weight: 400;
  }
}

/* line 47, ../../src/sass/_base.scss */
.font__middle {
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 47, ../../src/sass/_base.scss */
  .font__middle {
    font-size: 1rem;
    font-weight: 300;
  }
}

/* line 55, ../../src/sass/_base.scss */
.font_small {
  font-size: 1rem;
  font-weight: 300;
}

/* line 65, ../../src/sass/_base.scss */
.font__white {
  color: #FFF;
}

/* line 68, ../../src/sass/_base.scss */
a {
  text-decoration: none;
}

/* 12-column responsive grid */
/* line 7, ../../src/sass/_layout.scss */
.row {
  clear: both;
  max-width: 1040px;
  margin: 0 auto;
}

/* line 14, ../../src/sass/_layout.scss */
[class^="col-"] {
  float: left;
  margin: 0 3.84615384615% 0 0;
  list-style: none;
  position: relative;
  display: block;
}

/* line 22, ../../src/sass/_layout.scss */
[class^="col-"]:last-child {
  margin: 0;
}

/* line 26, ../../src/sass/_layout.scss */
.col-1 {
  width: 4.80769%;
}

/* line 27, ../../src/sass/_layout.scss */
.col-2 {
  width: 13.46154%;
}

/* line 28, ../../src/sass/_layout.scss */
.col-3 {
  width: 22.11538%;
}

/* line 29, ../../src/sass/_layout.scss */
.col-4 {
  width: 30.76923%;
}

/* line 30, ../../src/sass/_layout.scss */
.col-5 {
  width: 39.42308%;
}

/* line 31, ../../src/sass/_layout.scss */
.col-6 {
  width: 48.07692%;
}

/* line 32, ../../src/sass/_layout.scss */
.col-7 {
  width: 56.73077%;
}

/* line 33, ../../src/sass/_layout.scss */
.col-8 {
  width: 65.38462%;
}

/* line 34, ../../src/sass/_layout.scss */
.col-9 {
  width: 74.03846%;
}

/* line 35, ../../src/sass/_layout.scss */
.col-10 {
  width: 82.69231%;
}

/* line 36, ../../src/sass/_layout.scss */
.col-11 {
  width: 91.34615%;
}

/* line 37, ../../src/sass/_layout.scss */
.col-12 {
  width: 100%;
  margin: 0;
}

/* line 40, ../../src/sass/_layout.scss */
.header {
  height: 92px;
}

/* line 44, ../../src/sass/_layout.scss */
.content {
  width: 100%;
}

/* line 48, ../../src/sass/_layout.scss */
.viewPage {
  margin-bottom: 60px;
}

/* line 52, ../../src/sass/_layout.scss */
.content-groups {
  margin-bottom: 20px;
}

/* line 56, ../../src/sass/_layout.scss */
.footer {
  height: 90px;
}

/* line 60, ../../src/sass/_layout.scss */
.timeline {
  background-color: #E0E0E0;
  padding: 20px;
}

/* line 65, ../../src/sass/_layout.scss */
.vertical-align-middle-parent {
  position: relative;
}

/* line 68, ../../src/sass/_layout.scss */
.vertical-align-middle-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 78, ../../src/sass/_layout.scss */
.horizontal-align-middle-parent {
  display: table;
}

/* line 81, ../../src/sass/_layout.scss */
.horizontal-align-middle-child {
  display: table-cell;
  vertical-align: middle;
}

/* line 85, ../../src/sass/_layout.scss */
.flexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 93, ../../src/sass/_layout.scss */
.cf:before, .row:before,
.cf:after,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 99, ../../src/sass/_layout.scss */
.cf:after, .row:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* Speech Bubble */
/* line 24, ../../src/sass/_module.scss */
.speechBubble, .speechBubble--left {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: left;
  line-height: 24px;
  background: linear-gradient(90deg, #ffffff 85%, #f44336 0%) repeat-y;
  border: 0;
  border-radius: 0 30px 30px;
  box-shadow: 2px 2px 4px #212121;
  padding: 5px 40px 5px 5px;
  margin: 0 auto;
}
/* line 36, ../../src/sass/_module.scss */
.speechBubble:after, .speechBubble--left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -30px;
  top: 0px;
  border: 15px solid;
  border-color: #fff #fff transparent transparent;
}
@media (max-width: 767px) {
  /* line 24, ../../src/sass/_module.scss */
  .speechBubble, .speechBubble--left {
    margin-left: 70px;
    width: 150px;
  }
}

/* line 63, ../../src/sass/_module.scss */
.speechBubble--left {
  background: linear-gradient(-90deg, #ffffff 85%, #f44336 0%) repeat-y;
  border-radius: 30px 0 30px 30px;
  box-shadow: -2px 2px 4px #212121;
  padding: 5px 5px 5px 40px;
}
/* line 70, ../../src/sass/_module.scss */
.speechBubble--left:after {
  left: 245px;
  border-color: #fff transparent transparent #fff;
}

/* line 77, ../../src/sass/_module.scss */
.TimelineBox__Right {
  background: linear-gradient(0deg, #212121 75%, rgba(0, 0, 0, 0) 0%) repeat-y;
  background-size: 4px 16px;
  background-position: 0px 0px;
  position: relative;
}

/* line 87, ../../src/sass/_module.scss */
.TimelineBox__Left, .TimelineBox__Right {
  width: 400px;
  height: 200px;
}

/* line 96, ../../src/sass/_module.scss */
.TimelineBox__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 61px;
}

/* line 103, ../../src/sass/_module.scss */
.TimelineBox__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

/* line 112, ../../src/sass/_module.scss */
.circle {
  content: '';
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #F44336;
  position: absolute;
  left: -11px;
  top: -13px;
}

/* line 123, ../../src/sass/_module.scss */
.circle__title {
  height: 48px;
  width: 200px;
  text-align: center;
  font-size: 36px;
  position: absolute;
  top: -48px;
  left: -98px;
}
@media (max-width: 767px) {
  /* line 123, ../../src/sass/_module.scss */
  .circle__title {
    left: -68px;
  }
}

/* line 138, ../../src/sass/_module.scss */
.bigBubble {
  background: linear-gradient(90deg, #ffffff 85%, #f44336 0%) repeat-y;
  border: 0;
  border-radius: 30px 30px;
  padding: 20px 80px 20px 20px;
  margin: 0 auto;
}

/* line 147, ../../src/sass/_module.scss */
.bigBubble--after {
  content: ' ';
  width: 0;
  height: 0;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-width: 45px 30px 0 30px;
  border-color: #fff transparent transparent transparent;
  margin: 0 auto;
}
